<div class="display" id='main'>
  <%= render 'shared/rooms-sidebar' %>
  <%= render "shared/sidebar-left" %>
  <%= render "shared/sidebar-right" %>
  <%= render "shared/mobile-buttons" %>
  <%= render "shared/message-display" %>
</div>

<%= javascript_pack_tag "rooms", "data-turbolinks-track": "reload" %>
