<div class="room ml-3 mr-3">
  <div class="room-name">
    <h2 class="title is-2 mb-0">Welcome to:&nbsp;&nbsp;</h2>
    <span class='room-name-squid title is-2'><%= @room.name %></span>
  </div>
  <div class='box mb-1' id="message-display">
    <% if @messages %>
      <% @messages.each do |message| %>
        <article class="message">
          <div class="message-header">
            <span class='mr-2' style='margin-top:7px'><%= user_avatar(current_user, 25, 'border:1px solid #68c3cc') %></span>
            <%= message.user.username %>
            <div class="time mt-1">
              <%= distance_of_time_in_words(message.created_at, Time.now) %> ago
            </div>
          </div>
          <div class="message-body ml-1">
            <%= message.body %>
          </div>
        </article>
      <% end %>
    <% end %>
  </div>
<%= render 'shared/message-form' %>
</div>
<%= render 'shared/users-list' %>