<div class="rooms box">
  <h3 class="title is-3">All Rooms</h3>
  <p><%= link_to 'Home Room', root_path %></p>
    <% @rooms.each do |room| %>
      <p><%= link_to room.name, room_path(room) %></p>
    <% end %>
  <button class="button is-dark is-small accordion mt-4">New Room</button>
  <div class="panel">
    <% if !@room.id %>
      <%= simple_form_for(@room) do |f| %>
        <%= f.input :name,
            wrapper: false,
            label_html: { class: 'label' } %><br />
        <%= f.submit %>
      <% end %>
    <% end %>
  </div>
</div>