<div class="rooms box">
  <h3 class="title is-3">All Rooms</h3>
    <% @rooms.each do |room| %>
      <div class="room-title <%= picked_room(room) %>">
        <%= link_to room_path(room), data: { turbolinks: "false" } do %>
          <h5 class="title is-5 mb-0"><%= room.name %></h5>
          <% unless room.name == 'Home Room' %>
            <span><small class="room-<%= room.id %>-members"><%= room.users.uniq.size %><%= pluralize(room.users.uniq.size, 'Member') %></small></span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% if @room.id == Room.first.id || !@room.id %>
    <button class="button is-dark is-small accordion mt-4">New Room</button>
    <div class="panel">
        <%= simple_form_for(Room.new) do |f| %>
          <%= f.input :name,
              wrapper: false,
              required: false,
              label_html: { class: 'label' } %><br />
          <%= f.submit 'Create Room', 
              class: "button is-dark is-small mt-1" %>
        <% end %>
    </div>
  <% end %>
</div>
