<div class="rooms box left">
  <h3 class="title is-3 mb-1"><%= 'All' if @room.id == Room.first.id %> Users</h3>
  <% if @users %>
    <% if @room.id == Room.first.id %>
      <% @all_users.each do |user| %>
        <span class='center user-<%= user.id %>-status-span' id='desktop-bar'>
          <i class="fa fa-circle user-<%= user.id %>-status mr-1 <%= "online" if user.online %>"></i>
          <p><%= user.username %></p>
        </span>
      <% end %>
    <% else %>
      <% @users.uniq.each do |user| %>
        <span class='center user-<%= user.id %>-status-span' id='desktop-bar'>
          <i class="fa fa-circle user-<%= user.id %>-status mr-1 <%= "online" if user.online %>"></i>
          <p><%= user.username %></p>
        </span>      
      <% end %>
    <% end %>
  <% end %>
</div>