<div class="section">
  <h1 class="title is-1 has-text-centered">Sign In</h1>
  <div class="columns is-centered">
    <div class="box sign-in-box">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field">
        <div class="control">

          <%= f.input :username,
                    wrapper: false,
                    required: false,
                    label_html: { class: 'label' },
                    input_html: { class: 'input' } %>
        </div>
      </div> 

      <div class="field">
        <div class="control">
          <%= f.input :password,
                    wrapper: false,
                    label_html: { class: 'label' },
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { class: 'input' } %>
        </div>
      </div>
      
      <%= render 'devise/shared/sign-in-links' %>
      
      <%= f.button :submit, "Sign in", class:'button is-dark is-inverted is-outlined mb-4 sign-in-button' %><br/>
      <%= f.button :submit, "Sign in as Guest", id: 'guest-button', class:'button is-dark is-inverted is-outlined mb-5 sign-in-button' %>

      <div class="field">
        <%= render "devise/shared/links" %>
      </div>

      <% end %>
    </div>
  </div>
</div>